@import url('https://fonts.googleapis.com/css?family=Advent+Pro:100,200,300,400,500,600,700|Amiri|Chathura:100,300,400,700,800|Poly|VT323');

body {
    /* overflow-y: hidden; */
}

.row {
    margin: 0;
}

a {
    text-decoration: none !important;
    color: inherit;
    font-family: vt323;
    font-size: xx-large;
}

ul li {
    list-style: none;
}

header {
    height: 80px;
    /*display: table-cell;*/
    vertical-align: middle;
}

header h3 {
    /*line-height: 65px;*/
    font-weight: normal;
}

header ul {
    /*line-height: 75px;*/
    color: #ababad;
    text-align: left !important;
    float: right;
}

header li {
    border-right: 1px solid #ccc;
    /*height: 25px;*/
    float: left;
    /*padding-left: 20px;
  padding-right: 20px;*/
}


header ul li a:hover {
    /*line-height: 75px;*/
    color: #000000 !important;
}

.read_later_btn {
    border-radius: 5px;
    padding: 0px 10px 0px 10px;
    color: inherit;
    box-shadow: 0 0 10px #DDD;

}

nav {
    height: 60px;
    line-height: 65px;
    background-color: #FFF;
    color: #000;
    box-shadow: 0 0 20px #DDD;
}

nav ul li {
    font-size: x-large;
}

nav a:hover {
    color: #FFF;
}

.tdorder {
    border-top: 3px solid #9a58b5;
    width: 30px;
}

.bdorder {
    border-bottom: 1px solid #414347;
    /*color: #414347;*/
    /*width: 30px;*/
}

.articles {
    width: 100% !important;
}

.articles h6 {
    font-family: monospace;
}

.popular_bg {
    background-color: #2b2d32;
    right: 0;
    left: 0;
    height: 200px;
    position: absolute;
    /*z-index: 1;*/
}

.popular {
    color: #FFF;
    /*z-index: 9999999;*/
}

.popular h5 {
    /*font-family: 'Poly', serif;*/
    font-family: 'Advent Pro', sans-serif;
    font-weight: 300;
}

.popular h6 {
    color: #0C0C0C;
    /*font-family: 'Amiri', serif;*/
    font-family: 'Advent Pro', sans-serif;
    /*font-weight: 400;*/
}

.time {
    color: #CCC;
    font-size: 12px;
}

.time_border {
    border-bottom: 1px solid #d5d5d6;
    border-width: 1px;
    width: 30px;
}

.brder_left {
    border-left: 1px solid #b79191;
    /*z-index: 2;*/
}

.text-black {
    color: #000000 !important;
}

.article_content {
    font-family: 'Advent Pro', sans-serif;
    color: #dcc2c2 !important;
}

.article_content h5 {
    font-family: 'VT323', monospace;
    color: #FFFFFF !important;
    font-weight: normal;
}

.article_content h6 {
    font-family: 'Advent Pro', sans-serif;
    color: #dcc2c2 !important;
    font-weight: 300;
}

.center_article a {
    color: #dcc2c2 !important;
}

.article_content {
    background-color: #2b2d32;
    right: 0;
    left: 0;
    height: 160px;
    position: absolute;
}

.article_content a {
    color: #dcc2c2 !important;
}

.article_content a h5:hover {
    color: #FFF !important;
    text-decoration: underline;
}

.article_content time {
    color: #dcc2c2 !important;
    font-size: 12px;
}

.imgsZ {
    width: auto;
    max-height: 484.5px !important;
}

.cursor {
    cursor: pointer;
}

.black {
    color: #000;
}

.modalStyle {
    padding: 40px 95px;
    background: #f4f4f4;
    min-width: 920px;
    max-width: 920px;
    border-radius: 5px;
    min-height: 100%;
    top: -10px;
}

.modal-header {
    padding-top: 0;
    border: none;
}

.modal-body {
    position: relative;
    height: auto;
    padding: 0;
}

.modal-footer {
    padding: 0 !important;
}

.modal-content {
    background: none;
    border: none;
}

.modalStyle img {
    background: #FFF;
    padding: 15px 30px;
    border-radius: 5px;
    border: none;
    width: 65%;
}

.modal-backdrop.show {
  opacity: 0.7;
}


/* horizontal scrollbar track */
.gm-scrollbar.-horizontal {
  background-color: #000;
}

article {
    padding: 0px;
    margin: 0px;
}

.menulinks {
  padding: 0px !important;
  margin: 0px !important;
  font-family: 'VT323', monospace;
  color: #000 !important;
  font-size: 32px;
  font-weight: normal;
}

.menulinks ul {
    margin-top: 25px;
}

